body {
  background-color: rgb(32 38 50);
  /* background-image: url(./asset/background.jpg); */
  width: 100%;
  height: 42em;
  background-repeat: no-repeat;
  background-size: cover;
}
.brand-two {
  color: rgb(83 255 173);
}
/*  */
.adv-bg {
  background-color: rgb(49 58 73);
  box-shadow: 11px 3px 69px rgba(0, 0, 0, 0.411);
  height: 23em;
  /* border: 1px solid white; */
  width: 100%;
  margin-top: 11em;
  border-radius: 8px;
  position: relative;
  
}

.advice {
  font-size: 1.4em;
  color: grey;
  position: absolute;
}

hr {
  width: 80%;

}

.cursor {
  cursor: pointer;
  font-size: 40px;
  position: absolute;
  left: 47%;
  bottom: -15px;
}
.lines {
position: relative;
top: 15em;
}

@media only screen and (max-width: 422px) {
  body {
    background-color: lightblue;
  }
  .advice {
    font-size: 1.2em;
    color: grey;
    position: absolute;
  }
}
